USE [master]
GO
/****** Object:  Database [BFASdatabase]    Script Date: 11/16/2025 2:35:55 PM ******/
CREATE DATABASE [BFASdatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BFASdatabase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BFASdatabase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BFASdatabase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BFASdatabase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BFASdatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BFASdatabase]
GO
/****** Object:  Table [dbo].[AccountsPayable]    Script Date: 11/16/2025 2:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountsPayable](
	[PayableId] [int] IDENTITY(1,1) NOT NULL,
	[VendorName] [nvarchar](100) NOT NULL,
	[InvoiceNumber] [nvarchar](50) NOT NULL,
	[InvoiceDate] [date] NOT NULL,
	[DueDate] [date] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[PaidAmount] [decimal](18, 2) NOT NULL,
	[OutstandingAmount] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PayableId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountsReceivable]    Script Date: 11/16/2025 2:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountsReceivable](
	[ReceivableId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](100) NOT NULL,
	[InvoiceNumber] [nvarchar](50) NOT NULL,
	[InvoiceDate] [date] NOT NULL,
	[DueDate] [date] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[ReceivedAmount] [decimal](18, 2) NOT NULL,
	[OutstandingAmount] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReceivableId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApprovalQueue]    Script Date: 11/16/2025 2:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApprovalQueue](
	[ApprovalId] [int] IDENTITY(1,1) NOT NULL,
	[RequestType] [nvarchar](50) NOT NULL,
	[RequestId] [int] NOT NULL,
	[RequestedBy] [nvarchar](50) NOT NULL,
	[Amount] [decimal](18, 2) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Priority] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[RequestedAt] [datetime] NOT NULL,
	[ProcessedAt] [datetime] NULL,
	[ProcessedBy] [nvarchar](50) NULL,
	[ApprovalNotes] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ApprovalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 11/16/2025 2:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[AuditId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Action] [nvarchar](100) NOT NULL,
	[Module] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[OldValues] [nvarchar](max) NULL,
	[NewValues] [nvarchar](max) NULL,
	[IpAddress] [nvarchar](50) NULL,
	[UserAgent] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BankAccounts]    Script Date: 11/16/2025 2:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BankAccounts](
	[BankAccountId] [int] IDENTITY(1,1) NOT NULL,
	[AccountNumber] [nvarchar](50) NOT NULL,
	[AccountName] [nvarchar](100) NOT NULL,
	[AccountType] [nvarchar](50) NOT NULL,
	[BankName] [nvarchar](100) NOT NULL,
	[Balance] [decimal](18, 2) NOT NULL,
	[Currency] [nvarchar](3) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[LastModifiedAt] [datetime] NULL,
	[LastModifiedBy] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[BankAccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[AccountNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BankingReports]    Script Date: 11/16/2025 2:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BankingReports](
	[ReportId] [int] IDENTITY(1,1) NOT NULL,
	[ReportType] [nvarchar](50) NOT NULL,
	[ReportName] [nvarchar](100) NOT NULL,
	[PeriodStart] [date] NOT NULL,
	[PeriodEnd] [date] NOT NULL,
	[Data] [nvarchar](max) NULL,
	[GeneratedAt] [datetime] NOT NULL,
	[GeneratedBy] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BillersManagement]    Script Date: 11/16/2025 2:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillersManagement](
	[BillerId] [int] IDENTITY(1,1) NOT NULL,
	[BillerName] [nvarchar](100) NOT NULL,
	[BillerCode] [nvarchar](50) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[ProcessingFee] [decimal](18, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[BillerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[BillerCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BudgetManagement]    Script Date: 11/16/2025 2:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BudgetManagement](
	[BudgetId] [int] IDENTITY(1,1) NOT NULL,
	[BudgetName] [nvarchar](100) NOT NULL,
	[Department] [nvarchar](50) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[AllocatedAmount] [decimal](18, 2) NOT NULL,
	[SpentAmount] [decimal](18, 2) NOT NULL,
	[RemainingAmount] [decimal](18, 2) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BudgetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CardManagement]    Script Date: 11/16/2025 2:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CardManagement](
	[CardMgmtId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerCardId] [int] NOT NULL,
	[Action] [nvarchar](50) NOT NULL,
	[Reason] [nvarchar](500) NULL,
	[ActionBy] [nvarchar](50) NOT NULL,
	[ActionAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CardMgmtId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CashflowAnalysis]    Script Date: 11/16/2025 2:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CashflowAnalysis](
	[CashflowId] [int] IDENTITY(1,1) NOT NULL,
	[EntryType] [nvarchar](50) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[TransactionDate] [date] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CashflowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChartOfAccounts]    Script Date: 11/16/2025 2:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChartOfAccounts](
	[AccountId] [int] IDENTITY(1,1) NOT NULL,
	[AccountCode] [nvarchar](50) NOT NULL,
	[AccountName] [nvarchar](100) NOT NULL,
	[AccountType] [nvarchar](50) NOT NULL,
	[ParentAccountCode] [nvarchar](50) NULL,
	[Level] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[AccountCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerAccounts]    Script Date: 11/16/2025 2:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerAccounts](
	[AccountId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[AccountNumber] [nvarchar](50) NOT NULL,
	[AccountType] [nvarchar](50) NOT NULL,
	[Balance] [decimal](18, 2) NOT NULL,
	[AvailableBalance] [decimal](18, 2) NOT NULL,
	[Currency] [nvarchar](3) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[LastTransactionAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[AccountNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerCards]    Script Date: 11/16/2025 2:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerCards](
	[CardId] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [int] NOT NULL,
	[CardNumber] [nvarchar](20) NOT NULL,
	[CardType] [nvarchar](50) NOT NULL,
	[CardName] [nvarchar](100) NOT NULL,
	[CreditLimit] [decimal](18, 2) NULL,
	[AvailableCredit] [decimal](18, 2) NULL,
	[OutstandingBalance] [decimal](18, 2) NULL,
	[ExpiryDate] [date] NOT NULL,
	[DueDate] [date] NULL,
	[InterestRate] [decimal](5, 2) NULL,
	[IsActive] [bit] NOT NULL,
	[IsLocked] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CardNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerLoans]    Script Date: 11/16/2025 2:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerLoans](
	[LoanId] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [int] NOT NULL,
	[LoanNumber] [nvarchar](50) NOT NULL,
	[LoanType] [nvarchar](50) NOT NULL,
	[LoanAmount] [decimal](18, 2) NOT NULL,
	[OutstandingBalance] [decimal](18, 2) NOT NULL,
	[InterestRate] [decimal](5, 2) NOT NULL,
	[TermMonths] [int] NOT NULL,
	[MonthlyPayment] [decimal](18, 2) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[NextDueDate] [date] NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Purpose] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LoanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[LoanNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerRewardPoints]    Script Date: 11/16/2025 2:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerRewardPoints](
	[RewardId] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [int] NOT NULL,
	[Points] [int] NOT NULL,
	[CashbackAmount] [decimal](18, 2) NOT NULL,
	[EarnedFrom] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](100) NULL,
	[EarnedAt] [datetime] NOT NULL,
	[ExpiresAt] [datetime] NULL,
	[IsRedeemed] [bit] NOT NULL,
	[RedeemedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RewardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerSavingsGoals]    Script Date: 11/16/2025 2:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerSavingsGoals](
	[GoalId] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [int] NOT NULL,
	[GoalName] [nvarchar](100) NOT NULL,
	[TargetAmount] [decimal](18, 2) NOT NULL,
	[CurrentAmount] [decimal](18, 2) NOT NULL,
	[StartDate] [date] NOT NULL,
	[TargetDate] [date] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GoalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerTransactions]    Script Date: 11/16/2025 2:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerTransactions](
	[TransactionId] [int] IDENTITY(1,1) NOT NULL,
	[TransactionNumber] [nvarchar](50) NOT NULL,
	[AccountId] [int] NOT NULL,
	[TransactionType] [nvarchar](50) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Fee] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Reference] [nvarchar](100) NULL,
	[ToAccountId] [int] NULL,
	[ToAccountName] [nvarchar](100) NULL,
	[BillerName] [nvarchar](100) NULL,
	[BillerAccountNumber] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ProcessedAt] [datetime] NULL,
	[ProcessedBy] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TransactionNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FinancialForecasting]    Script Date: 11/16/2025 2:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinancialForecasting](
	[ForecastId] [int] IDENTITY(1,1) NOT NULL,
	[ForecastName] [nvarchar](100) NOT NULL,
	[ForecastType] [nvarchar](50) NOT NULL,
	[PeriodStart] [date] NOT NULL,
	[PeriodEnd] [date] NOT NULL,
	[ProjectedAmount] [decimal](18, 2) NOT NULL,
	[ActualAmount] [decimal](18, 2) NOT NULL,
	[Variance] [decimal](5, 2) NOT NULL,
	[Assumptions] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ForecastId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FinancialStatements]    Script Date: 11/16/2025 2:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinancialStatements](
	[StatementId] [int] IDENTITY(1,1) NOT NULL,
	[StatementType] [nvarchar](50) NOT NULL,
	[PeriodStart] [date] NOT NULL,
	[PeriodEnd] [date] NOT NULL,
	[StatementData] [nvarchar](max) NULL,
	[GeneratedAt] [datetime] NOT NULL,
	[GeneratedBy] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StatementId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FundTransfers]    Script Date: 11/16/2025 2:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FundTransfers](
	[TransferId] [int] IDENTITY(1,1) NOT NULL,
	[TransferNumber] [nvarchar](50) NOT NULL,
	[FromAccountId] [int] NOT NULL,
	[ToAccountId] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Fee] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ProcessedAt] [datetime] NULL,
	[ProcessedBy] [nvarchar](50) NULL,
	[ApprovedBy] [nvarchar](50) NULL,
	[ApprovedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TransferId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TransferNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GeneralLedger]    Script Date: 11/16/2025 2:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GeneralLedger](
	[LedgerId] [int] IDENTITY(1,1) NOT NULL,
	[AccountCode] [nvarchar](50) NOT NULL,
	[AccountName] [nvarchar](100) NOT NULL,
	[AccountType] [nvarchar](50) NOT NULL,
	[ParentAccountCode] [nvarchar](50) NULL,
	[Balance] [decimal](18, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LedgerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GeneralLedgerTransactions]    Script Date: 11/16/2025 2:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GeneralLedgerTransactions](
	[GLTransactionId] [int] IDENTITY(1,1) NOT NULL,
	[JournalLineId] [int] NOT NULL,
	[AccountCode] [nvarchar](50) NOT NULL,
	[TransactionDate] [date] NOT NULL,
	[Description] [nvarchar](500) NULL,
	[DebitAmount] [decimal](18, 2) NOT NULL,
	[CreditAmount] [decimal](18, 2) NOT NULL,
	[RunningBalance] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GLTransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JournalEntries]    Script Date: 11/16/2025 2:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JournalEntries](
	[JournalId] [int] IDENTITY(1,1) NOT NULL,
	[JournalNumber] [nvarchar](50) NOT NULL,
	[TransactionDate] [date] NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[Reference] [nvarchar](100) NULL,
	[TotalDebit] [decimal](18, 2) NOT NULL,
	[TotalCredit] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
	[PostedAt] [datetime] NULL,
	[PostedBy] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[JournalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[JournalNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JournalEntryLines]    Script Date: 11/16/2025 2:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JournalEntryLines](
	[LineId] [int] IDENTITY(1,1) NOT NULL,
	[JournalId] [int] NOT NULL,
	[AccountCode] [nvarchar](50) NOT NULL,
	[AccountName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[DebitAmount] [decimal](18, 2) NOT NULL,
	[CreditAmount] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoanManagement]    Script Date: 11/16/2025 2:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoanManagement](
	[LoanMgmtId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerLoanId] [int] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[ApprovalStatus] [nvarchar](50) NOT NULL,
	[ApprovedBy] [nvarchar](50) NULL,
	[ApprovedAt] [datetime] NULL,
	[RejectionReason] [nvarchar](500) NULL,
	[ProcessingNotes] [nvarchar](1000) NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LoanMgmtId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoginHistory]    Script Date: 11/16/2025 2:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginHistory](
	[LoginId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[LoginTime] [datetime] NOT NULL,
	[LogoutTime] [datetime] NULL,
	[IpAddress] [nvarchar](50) NULL,
	[UserAgent] [nvarchar](255) NULL,
	[LoginStatus] [nvarchar](20) NOT NULL,
	[FailureReason] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[LoginId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePermissions]    Script Date: 11/16/2025 2:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermissions](
	[PermissionId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[ModuleName] [nvarchar](100) NOT NULL,
	[Permission] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemReports]    Script Date: 11/16/2025 2:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemReports](
	[ReportId] [int] IDENTITY(1,1) NOT NULL,
	[ReportType] [nvarchar](50) NOT NULL,
	[ReportName] [nvarchar](100) NOT NULL,
	[ReportData] [nvarchar](max) NULL,
	[Parameters] [nvarchar](max) NULL,
	[GeneratedAt] [datetime] NOT NULL,
	[GeneratedBy] [nvarchar](50) NOT NULL,
	[AccessedCount] [int] NOT NULL,
	[LastAccessedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemSettings]    Script Date: 11/16/2025 2:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemSettings](
	[SettingId] [int] IDENTITY(1,1) NOT NULL,
	[SettingKey] [nvarchar](100) NOT NULL,
	[SettingValue] [nvarchar](1000) NULL,
	[Description] [nvarchar](500) NULL,
	[Category] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[LastModifiedAt] [datetime] NOT NULL,
	[LastModifiedBy] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SettingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SettingKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrialBalance]    Script Date: 11/16/2025 2:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrialBalance](
	[TrialBalanceId] [int] IDENTITY(1,1) NOT NULL,
	[PeriodStart] [date] NOT NULL,
	[PeriodEnd] [date] NOT NULL,
	[AccountCode] [nvarchar](50) NOT NULL,
	[AccountName] [nvarchar](100) NOT NULL,
	[DebitBalance] [decimal](18, 2) NOT NULL,
	[CreditBalance] [decimal](18, 2) NOT NULL,
	[GeneratedAt] [datetime] NOT NULL,
	[GeneratedBy] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TrialBalanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRegistrations]    Script Date: 11/16/2025 2:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRegistrations](
	[RegistrationId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[Department] [nvarchar](50) NULL,
	[EmployeeId] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RegistrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/16/2025 2:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[LastLoginAt] [datetime] NULL,
	[Department] [nvarchar](50) NULL,
	[EmployeeId] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserSessions]    Script Date: 11/16/2025 2:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSessions](
	[SessionId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[SessionToken] [nvarchar](255) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ExpiresAt] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IpAddress] [nvarchar](50) NULL,
	[UserAgent] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[SessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SessionToken] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_LoginHistory_LoginTime]    Script Date: 11/16/2025 2:35:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_LoginHistory_LoginTime] ON [dbo].[LoginHistory]
(
	[LoginTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LoginHistory_UserId]    Script Date: 11/16/2025 2:35:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_LoginHistory_UserId] ON [dbo].[LoginHistory]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RolePermissions_ModuleName]    Script Date: 11/16/2025 2:35:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_RolePermissions_ModuleName] ON [dbo].[RolePermissions]
(
	[ModuleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RolePermissions_RoleName]    Script Date: 11/16/2025 2:35:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_RolePermissions_RoleName] ON [dbo].[RolePermissions]
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_IsActive]    Script Date: 11/16/2025 2:35:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_Users_IsActive] ON [dbo].[Users]
(
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Role]    Script Date: 11/16/2025 2:35:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_Users_Role] ON [dbo].[Users]
(
	[Role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Username]    Script Date: 11/16/2025 2:35:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_Users_Username] ON [dbo].[Users]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserSessions_IsActive]    Script Date: 11/16/2025 2:35:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserSessions_IsActive] ON [dbo].[UserSessions]
(
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserSessions_SessionToken]    Script Date: 11/16/2025 2:35:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserSessions_SessionToken] ON [dbo].[UserSessions]
(
	[SessionToken] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserSessions_UserId]    Script Date: 11/16/2025 2:35:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserSessions_UserId] ON [dbo].[UserSessions]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AccountsPayable] ADD  DEFAULT ((0)) FOR [PaidAmount]
GO
ALTER TABLE [dbo].[AccountsPayable] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[AccountsPayable] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AccountsReceivable] ADD  DEFAULT ((0)) FOR [ReceivedAmount]
GO
ALTER TABLE [dbo].[AccountsReceivable] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[AccountsReceivable] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ApprovalQueue] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[ApprovalQueue] ADD  DEFAULT ('Medium') FOR [Priority]
GO
ALTER TABLE [dbo].[ApprovalQueue] ADD  DEFAULT (getdate()) FOR [RequestedAt]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BankAccounts] ADD  DEFAULT ((0)) FOR [Balance]
GO
ALTER TABLE [dbo].[BankAccounts] ADD  DEFAULT ('PHP') FOR [Currency]
GO
ALTER TABLE [dbo].[BankAccounts] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[BankAccounts] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BankingReports] ADD  DEFAULT (getdate()) FOR [GeneratedAt]
GO
ALTER TABLE [dbo].[BillersManagement] ADD  DEFAULT ((0)) FOR [ProcessingFee]
GO
ALTER TABLE [dbo].[BillersManagement] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[BillersManagement] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BudgetManagement] ADD  DEFAULT ((0)) FOR [SpentAmount]
GO
ALTER TABLE [dbo].[BudgetManagement] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[BudgetManagement] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CardManagement] ADD  DEFAULT (getdate()) FOR [ActionAt]
GO
ALTER TABLE [dbo].[CashflowAnalysis] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ChartOfAccounts] ADD  DEFAULT ((1)) FOR [Level]
GO
ALTER TABLE [dbo].[ChartOfAccounts] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ChartOfAccounts] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CustomerAccounts] ADD  DEFAULT ((0)) FOR [Balance]
GO
ALTER TABLE [dbo].[CustomerAccounts] ADD  DEFAULT ((0)) FOR [AvailableBalance]
GO
ALTER TABLE [dbo].[CustomerAccounts] ADD  DEFAULT ('PHP') FOR [Currency]
GO
ALTER TABLE [dbo].[CustomerAccounts] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CustomerAccounts] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CustomerCards] ADD  DEFAULT ((0)) FOR [CreditLimit]
GO
ALTER TABLE [dbo].[CustomerCards] ADD  DEFAULT ((0)) FOR [AvailableCredit]
GO
ALTER TABLE [dbo].[CustomerCards] ADD  DEFAULT ((0)) FOR [OutstandingBalance]
GO
ALTER TABLE [dbo].[CustomerCards] ADD  DEFAULT ((0)) FOR [InterestRate]
GO
ALTER TABLE [dbo].[CustomerCards] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CustomerCards] ADD  DEFAULT ((0)) FOR [IsLocked]
GO
ALTER TABLE [dbo].[CustomerCards] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CustomerLoans] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[CustomerLoans] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CustomerRewardPoints] ADD  DEFAULT ((0)) FOR [Points]
GO
ALTER TABLE [dbo].[CustomerRewardPoints] ADD  DEFAULT ((0)) FOR [CashbackAmount]
GO
ALTER TABLE [dbo].[CustomerRewardPoints] ADD  DEFAULT (getdate()) FOR [EarnedAt]
GO
ALTER TABLE [dbo].[CustomerRewardPoints] ADD  DEFAULT ((0)) FOR [IsRedeemed]
GO
ALTER TABLE [dbo].[CustomerSavingsGoals] ADD  DEFAULT ((0)) FOR [CurrentAmount]
GO
ALTER TABLE [dbo].[CustomerSavingsGoals] ADD  DEFAULT (getdate()) FOR [StartDate]
GO
ALTER TABLE [dbo].[CustomerSavingsGoals] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[CustomerSavingsGoals] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CustomerTransactions] ADD  DEFAULT ((0)) FOR [Fee]
GO
ALTER TABLE [dbo].[CustomerTransactions] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[CustomerTransactions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[FinancialForecasting] ADD  DEFAULT ((0)) FOR [ActualAmount]
GO
ALTER TABLE [dbo].[FinancialForecasting] ADD  DEFAULT ((0)) FOR [Variance]
GO
ALTER TABLE [dbo].[FinancialForecasting] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[FinancialStatements] ADD  DEFAULT (getdate()) FOR [GeneratedAt]
GO
ALTER TABLE [dbo].[FundTransfers] ADD  DEFAULT ((0)) FOR [Fee]
GO
ALTER TABLE [dbo].[FundTransfers] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[FundTransfers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[GeneralLedger] ADD  DEFAULT ((0)) FOR [Balance]
GO
ALTER TABLE [dbo].[GeneralLedger] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[GeneralLedger] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[GeneralLedgerTransactions] ADD  DEFAULT ((0)) FOR [DebitAmount]
GO
ALTER TABLE [dbo].[GeneralLedgerTransactions] ADD  DEFAULT ((0)) FOR [CreditAmount]
GO
ALTER TABLE [dbo].[GeneralLedgerTransactions] ADD  DEFAULT ((0)) FOR [RunningBalance]
GO
ALTER TABLE [dbo].[JournalEntries] ADD  DEFAULT ((0)) FOR [TotalDebit]
GO
ALTER TABLE [dbo].[JournalEntries] ADD  DEFAULT ((0)) FOR [TotalCredit]
GO
ALTER TABLE [dbo].[JournalEntries] ADD  DEFAULT ('Draft') FOR [Status]
GO
ALTER TABLE [dbo].[JournalEntries] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[JournalEntryLines] ADD  DEFAULT ((0)) FOR [DebitAmount]
GO
ALTER TABLE [dbo].[JournalEntryLines] ADD  DEFAULT ((0)) FOR [CreditAmount]
GO
ALTER TABLE [dbo].[LoanManagement] ADD  DEFAULT ('Pending') FOR [ApprovalStatus]
GO
ALTER TABLE [dbo].[LoanManagement] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[LoginHistory] ADD  DEFAULT (getdate()) FOR [LoginTime]
GO
ALTER TABLE [dbo].[LoginHistory] ADD  DEFAULT ('Success') FOR [LoginStatus]
GO
ALTER TABLE [dbo].[RolePermissions] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SystemReports] ADD  DEFAULT (getdate()) FOR [GeneratedAt]
GO
ALTER TABLE [dbo].[SystemReports] ADD  DEFAULT ((0)) FOR [AccessedCount]
GO
ALTER TABLE [dbo].[SystemSettings] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SystemSettings] ADD  DEFAULT (getdate()) FOR [LastModifiedAt]
GO
ALTER TABLE [dbo].[TrialBalance] ADD  DEFAULT ((0)) FOR [DebitBalance]
GO
ALTER TABLE [dbo].[TrialBalance] ADD  DEFAULT ((0)) FOR [CreditBalance]
GO
ALTER TABLE [dbo].[TrialBalance] ADD  DEFAULT (getdate()) FOR [GeneratedAt]
GO
ALTER TABLE [dbo].[UserRegistrations] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[UserRegistrations] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserSessions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserSessions] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [FK_AuditLogs_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[AuditLogs] CHECK CONSTRAINT [FK_AuditLogs_Users]
GO
ALTER TABLE [dbo].[CardManagement]  WITH CHECK ADD  CONSTRAINT [FK_CardManagement_CustomerCards] FOREIGN KEY([CustomerCardId])
REFERENCES [dbo].[CustomerCards] ([CardId])
GO
ALTER TABLE [dbo].[CardManagement] CHECK CONSTRAINT [FK_CardManagement_CustomerCards]
GO
ALTER TABLE [dbo].[CustomerAccounts]  WITH CHECK ADD  CONSTRAINT [FK_CustomerAccounts_Users] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[CustomerAccounts] CHECK CONSTRAINT [FK_CustomerAccounts_Users]
GO
ALTER TABLE [dbo].[CustomerCards]  WITH CHECK ADD  CONSTRAINT [FK_CustomerCards_Accounts] FOREIGN KEY([AccountId])
REFERENCES [dbo].[CustomerAccounts] ([AccountId])
GO
ALTER TABLE [dbo].[CustomerCards] CHECK CONSTRAINT [FK_CustomerCards_Accounts]
GO
ALTER TABLE [dbo].[CustomerLoans]  WITH CHECK ADD  CONSTRAINT [FK_CustomerLoans_Accounts] FOREIGN KEY([AccountId])
REFERENCES [dbo].[CustomerAccounts] ([AccountId])
GO
ALTER TABLE [dbo].[CustomerLoans] CHECK CONSTRAINT [FK_CustomerLoans_Accounts]
GO
ALTER TABLE [dbo].[CustomerRewardPoints]  WITH CHECK ADD  CONSTRAINT [FK_CustomerRewardPoints_Accounts] FOREIGN KEY([AccountId])
REFERENCES [dbo].[CustomerAccounts] ([AccountId])
GO
ALTER TABLE [dbo].[CustomerRewardPoints] CHECK CONSTRAINT [FK_CustomerRewardPoints_Accounts]
GO
ALTER TABLE [dbo].[CustomerSavingsGoals]  WITH CHECK ADD  CONSTRAINT [FK_CustomerSavingsGoals_Accounts] FOREIGN KEY([AccountId])
REFERENCES [dbo].[CustomerAccounts] ([AccountId])
GO
ALTER TABLE [dbo].[CustomerSavingsGoals] CHECK CONSTRAINT [FK_CustomerSavingsGoals_Accounts]
GO
ALTER TABLE [dbo].[CustomerTransactions]  WITH CHECK ADD  CONSTRAINT [FK_CustomerTransactions_Accounts] FOREIGN KEY([AccountId])
REFERENCES [dbo].[CustomerAccounts] ([AccountId])
GO
ALTER TABLE [dbo].[CustomerTransactions] CHECK CONSTRAINT [FK_CustomerTransactions_Accounts]
GO
ALTER TABLE [dbo].[CustomerTransactions]  WITH CHECK ADD  CONSTRAINT [FK_CustomerTransactions_ToAccounts] FOREIGN KEY([ToAccountId])
REFERENCES [dbo].[CustomerAccounts] ([AccountId])
GO
ALTER TABLE [dbo].[CustomerTransactions] CHECK CONSTRAINT [FK_CustomerTransactions_ToAccounts]
GO
ALTER TABLE [dbo].[FundTransfers]  WITH CHECK ADD  CONSTRAINT [FK_FundTransfers_FromAccount] FOREIGN KEY([FromAccountId])
REFERENCES [dbo].[BankAccounts] ([BankAccountId])
GO
ALTER TABLE [dbo].[FundTransfers] CHECK CONSTRAINT [FK_FundTransfers_FromAccount]
GO
ALTER TABLE [dbo].[FundTransfers]  WITH CHECK ADD  CONSTRAINT [FK_FundTransfers_ToAccount] FOREIGN KEY([ToAccountId])
REFERENCES [dbo].[BankAccounts] ([BankAccountId])
GO
ALTER TABLE [dbo].[FundTransfers] CHECK CONSTRAINT [FK_FundTransfers_ToAccount]
GO
ALTER TABLE [dbo].[GeneralLedgerTransactions]  WITH CHECK ADD  CONSTRAINT [FK_GLTransactions_JournalLines] FOREIGN KEY([JournalLineId])
REFERENCES [dbo].[JournalEntryLines] ([LineId])
GO
ALTER TABLE [dbo].[GeneralLedgerTransactions] CHECK CONSTRAINT [FK_GLTransactions_JournalLines]
GO
ALTER TABLE [dbo].[JournalEntryLines]  WITH CHECK ADD  CONSTRAINT [FK_JournalEntryLines_Journal] FOREIGN KEY([JournalId])
REFERENCES [dbo].[JournalEntries] ([JournalId])
GO
ALTER TABLE [dbo].[JournalEntryLines] CHECK CONSTRAINT [FK_JournalEntryLines_Journal]
GO
ALTER TABLE [dbo].[LoanManagement]  WITH CHECK ADD  CONSTRAINT [FK_LoanManagement_CustomerLoans] FOREIGN KEY([CustomerLoanId])
REFERENCES [dbo].[CustomerLoans] ([LoanId])
GO
ALTER TABLE [dbo].[LoanManagement] CHECK CONSTRAINT [FK_LoanManagement_CustomerLoans]
GO
ALTER TABLE [dbo].[LoginHistory]  WITH CHECK ADD  CONSTRAINT [FK_LoginHistory_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LoginHistory] CHECK CONSTRAINT [FK_LoginHistory_Users]
GO
ALTER TABLE [dbo].[UserSessions]  WITH CHECK ADD  CONSTRAINT [FK_UserSessions_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserSessions] CHECK CONSTRAINT [FK_UserSessions_Users]
GO
ALTER TABLE [dbo].[LoginHistory]  WITH CHECK ADD  CONSTRAINT [CK_LoginHistory_Status] CHECK  (([LoginStatus]='Locked' OR [LoginStatus]='Failed' OR [LoginStatus]='Success'))
GO
ALTER TABLE [dbo].[LoginHistory] CHECK CONSTRAINT [CK_LoginHistory_Status]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [CK_RolePermissions_Permission] CHECK  (([Permission]='Full' OR [Permission]='Delete' OR [Permission]='Write' OR [Permission]='Read'))
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [CK_RolePermissions_Permission]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [CK_RolePermissions_Role] CHECK  (([RoleName]='Customer' OR [RoleName]='FinanceManager' OR [RoleName]='Accountant' OR [RoleName]='SuperAdmin'))
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [CK_RolePermissions_Role]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Role] CHECK  (([Role]='Customer' OR [Role]='FinanceManager' OR [Role]='Accountant' OR [Role]='SuperAdmin'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Role]
GO
/****** Object:  StoredProcedure [dbo].[sp_AuthenticateUser]    Script Date: 11/16/2025 2:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- STORED PROCEDURES
-- =============================================

-- Procedure to authenticate user
CREATE   PROCEDURE [dbo].[sp_AuthenticateUser]
    @Username NVARCHAR(50),
    @Password NVARCHAR(255),
    @IpAddress NVARCHAR(50) = NULL,
    @UserAgent NVARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @UserId INT;
    DECLARE @Role NVARCHAR(50);
    DECLARE @IsActive BIT;
    
    -- Check if user exists and password matches
    SELECT 
        @UserId = UserId,
        @Role = Role,
        @IsActive = IsActive
    FROM Users
    WHERE Username = @Username AND PasswordHash = @Password;
    
    IF @UserId IS NULL
    BEGIN
        -- Log failed login attempt
        INSERT INTO LoginHistory (UserId, LoginTime, IpAddress, UserAgent, LoginStatus, FailureReason)
        SELECT TOP 1 UserId, GETDATE(), @IpAddress, @UserAgent, 'Failed', 'Invalid credentials'
        FROM Users WHERE Username = @Username;
        
        SELECT 'Failed' AS Status, 'Invalid username or password' AS Message;
        RETURN;
    END
    
    IF @IsActive = 0
    BEGIN
        -- Log locked account attempt
        INSERT INTO LoginHistory (UserId, LoginTime, IpAddress, UserAgent, LoginStatus, FailureReason)
        VALUES (@UserId, GETDATE(), @IpAddress, @UserAgent, 'Locked', 'Account is inactive');
        
        SELECT 'Locked' AS Status, 'Account is inactive' AS Message;
        RETURN;
    END
    
    -- Successful login
    UPDATE Users SET LastLoginAt = GETDATE() WHERE UserId = @UserId;
    
    INSERT INTO LoginHistory (UserId, LoginTime, IpAddress, UserAgent, LoginStatus)
    VALUES (@UserId, GETDATE(), @IpAddress, @UserAgent, 'Success');
    
    -- Return user details
    SELECT 
        'Success' AS Status,
        UserId,
        Username,
        Role,
        FullName,
        Email,
        Department,
        EmployeeId
    FROM Users
    WHERE UserId = @UserId;
END
GO
USE [master]
GO
