USE [BFASdatabase]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 11/29/2025 12:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountingEntries]    Script Date: 11/29/2025 12:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountingEntries](
	[EntryId] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [int] NULL,
	[TransactionType] [nvarchar](50) NOT NULL,
	[AccountType] [nvarchar](50) NOT NULL,
	[DebitAmount] [decimal](18, 2) NOT NULL,
	[CreditAmount] [decimal](18, 2) NOT NULL,
	[Balance] [decimal](18, 2) NOT NULL,
	[Reference] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[ProcessedBy] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EntryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountsPayable]    Script Date: 11/29/2025 12:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountsPayable](
	[PayableId] [int] IDENTITY(1,1) NOT NULL,
	[VendorName] [nvarchar](100) NOT NULL,
	[InvoiceNumber] [nvarchar](50) NOT NULL,
	[InvoiceDate] [date] NOT NULL,
	[DueDate] [date] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[PaidAmount] [decimal](18, 2) NOT NULL,
	[OutstandingAmount] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PayableId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountsReceivable]    Script Date: 11/29/2025 12:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountsReceivable](
	[ReceivableId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](100) NOT NULL,
	[InvoiceNumber] [nvarchar](50) NOT NULL,
	[InvoiceDate] [date] NOT NULL,
	[DueDate] [date] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[ReceivedAmount] [decimal](18, 2) NOT NULL,
	[OutstandingAmount] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReceivableId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApprovalQueue]    Script Date: 11/29/2025 12:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApprovalQueue](
	[ApprovalId] [int] IDENTITY(1,1) NOT NULL,
	[RequestType] [nvarchar](50) NOT NULL,
	[RequestId] [int] NOT NULL,
	[RequestedBy] [nvarchar](50) NOT NULL,
	[Amount] [decimal](18, 2) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Priority] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[RequestedAt] [datetime] NOT NULL,
	[ProcessedAt] [datetime] NULL,
	[ProcessedBy] [nvarchar](50) NULL,
	[ApprovalNotes] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ApprovalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 11/29/2025 12:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[AuditId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Action] [nvarchar](100) NOT NULL,
	[Module] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[OldValues] [nvarchar](max) NULL,
	[NewValues] [nvarchar](max) NULL,
	[IpAddress] [nvarchar](50) NULL,
	[UserAgent] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[BalanceBefore] [decimal](18, 2) NOT NULL,
	[BalanceAfter] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BankAccounts]    Script Date: 11/29/2025 12:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BankAccounts](
	[BankAccountId] [int] IDENTITY(1,1) NOT NULL,
	[AccountNumber] [nvarchar](50) NOT NULL,
	[AccountName] [nvarchar](100) NOT NULL,
	[AccountType] [nvarchar](50) NOT NULL,
	[BankName] [nvarchar](100) NOT NULL,
	[Balance] [decimal](18, 2) NOT NULL,
	[Currency] [nvarchar](3) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[LastModifiedAt] [datetime] NULL,
	[LastModifiedBy] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[BankAccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[AccountNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BankingReports]    Script Date: 11/29/2025 12:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BankingReports](
	[ReportId] [int] IDENTITY(1,1) NOT NULL,
	[ReportType] [nvarchar](50) NOT NULL,
	[ReportName] [nvarchar](100) NOT NULL,
	[PeriodStart] [date] NOT NULL,
	[PeriodEnd] [date] NOT NULL,
	[Data] [nvarchar](max) NULL,
	[GeneratedAt] [datetime] NOT NULL,
	[GeneratedBy] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BillersManagement]    Script Date: 11/29/2025 12:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillersManagement](
	[BillerId] [int] IDENTITY(1,1) NOT NULL,
	[BillerName] [nvarchar](100) NOT NULL,
	[BillerCode] [nvarchar](50) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[ProcessingFee] [decimal](18, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[BillerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[BillerCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BudgetManagement]    Script Date: 11/29/2025 12:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BudgetManagement](
	[BudgetId] [int] IDENTITY(1,1) NOT NULL,
	[BudgetName] [nvarchar](100) NOT NULL,
	[Department] [nvarchar](50) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[AllocatedAmount] [decimal](18, 2) NOT NULL,
	[SpentAmount] [decimal](18, 2) NOT NULL,
	[RemainingAmount] [decimal](18, 2) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BudgetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CardManagement]    Script Date: 11/29/2025 12:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CardManagement](
	[CardMgmtId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerCardId] [int] NOT NULL,
	[Action] [nvarchar](50) NOT NULL,
	[Reason] [nvarchar](500) NULL,
	[ActionBy] [nvarchar](50) NOT NULL,
	[ActionAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CardMgmtId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CashflowAnalysis]    Script Date: 11/29/2025 12:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CashflowAnalysis](
	[CashflowId] [int] IDENTITY(1,1) NOT NULL,
	[EntryType] [nvarchar](50) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[TransactionDate] [date] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CashflowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChartOfAccounts]    Script Date: 11/29/2025 12:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChartOfAccounts](
	[AccountId] [int] IDENTITY(1,1) NOT NULL,
	[AccountCode] [nvarchar](50) NOT NULL,
	[AccountName] [nvarchar](100) NOT NULL,
	[AccountType] [nvarchar](50) NOT NULL,
	[ParentAccountCode] [nvarchar](50) NULL,
	[Level] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[AccountCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerAccounts]    Script Date: 11/29/2025 12:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerAccounts](
	[AccountId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[AccountNumber] [nvarchar](50) NOT NULL,
	[Balance] [decimal](18, 2) NOT NULL,
	[AvailableBalance] [decimal](18, 2) NOT NULL,
	[Currency] [nvarchar](3) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[LastTransactionAt] [datetime] NULL,
	[Status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[AccountNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerCards]    Script Date: 11/29/2025 12:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerCards](
	[CardId] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [int] NOT NULL,
	[CardNumber] [nvarchar](20) NOT NULL,
	[CardType] [nvarchar](50) NOT NULL,
	[CardName] [nvarchar](100) NOT NULL,
	[CreditLimit] [decimal](18, 2) NULL,
	[AvailableCredit] [decimal](18, 2) NULL,
	[OutstandingBalance] [decimal](18, 2) NULL,
	[ExpiryDate] [date] NOT NULL,
	[DueDate] [date] NULL,
	[InterestRate] [decimal](5, 2) NULL,
	[IsActive] [bit] NOT NULL,
	[IsLocked] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CardNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerLoans]    Script Date: 11/29/2025 12:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerLoans](
	[LoanId] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [int] NOT NULL,
	[LoanNumber] [nvarchar](50) NOT NULL,
	[LoanType] [nvarchar](50) NOT NULL,
	[LoanAmount] [decimal](18, 2) NOT NULL,
	[OutstandingBalance] [decimal](18, 2) NOT NULL,
	[InterestRate] [decimal](5, 2) NOT NULL,
	[TermMonths] [int] NOT NULL,
	[MonthlyPayment] [decimal](18, 2) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[NextDueDate] [date] NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Purpose] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ApplicationId] [int] NULL,
	[AssessmentId] [int] NULL,
	[ApprovalId] [int] NULL,
	[DisbursalId] [int] NULL,
	[CumulativeLateDays] [int] NULL,
	[TotalPenalties] [decimal](18, 2) NULL,
	[LastPaymentDate] [datetime] NULL,
	[IsBlacklisted] [bit] NULL,
	[BlacklistedAt] [datetime] NULL,
	[BlacklistedReason] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[LoanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[LoanNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerRewardPoints]    Script Date: 11/29/2025 12:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerRewardPoints](
	[RewardId] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [int] NOT NULL,
	[Points] [int] NOT NULL,
	[CashbackAmount] [decimal](18, 2) NOT NULL,
	[EarnedFrom] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](100) NULL,
	[EarnedAt] [datetime] NOT NULL,
	[ExpiresAt] [datetime] NULL,
	[IsRedeemed] [bit] NOT NULL,
	[RedeemedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RewardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerSavingsGoals]    Script Date: 11/29/2025 12:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerSavingsGoals](
	[GoalId] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [int] NOT NULL,
	[GoalName] [nvarchar](100) NOT NULL,
	[TargetAmount] [decimal](18, 2) NOT NULL,
	[CurrentAmount] [decimal](18, 2) NOT NULL,
	[StartDate] [date] NOT NULL,
	[TargetDate] [date] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GoalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerTransactions]    Script Date: 11/29/2025 12:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerTransactions](
	[TransactionId] [int] IDENTITY(1,1) NOT NULL,
	[TransactionNumber] [nvarchar](50) NOT NULL,
	[AccountId] [int] NOT NULL,
	[TransactionType] [nvarchar](50) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Fee] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Reference] [nvarchar](100) NULL,
	[ToAccountId] [int] NULL,
	[ToAccountName] [nvarchar](100) NULL,
	[BillerName] [nvarchar](100) NULL,
	[BillerAccountNumber] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ProcessedAt] [datetime] NULL,
	[ProcessedByEmployeeId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TransactionNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeAccounts]    Script Date: 11/29/2025 12:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeAccounts](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[EmployeeNumber] [nvarchar](50) NOT NULL,
	[Department] [nvarchar](100) NOT NULL,
	[Position] [nvarchar](100) NOT NULL,
	[Specialization] [nvarchar](100) NULL,
	[DateOfBirth] [date] NULL,
	[HireDate] [date] NOT NULL,
	[EmploymentStatus] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](500) NULL,
	[City] [nvarchar](100) NULL,
	[State] [nvarchar](100) NULL,
	[ZipCode] [nvarchar](20) NULL,
	[DirectSupervisorID] [int] NULL,
	[WorkPhone] [nvarchar](20) NULL,
	[Office] [nvarchar](100) NULL,
	[DateModified] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EmployeeNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 11/29/2025 12:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Department] [nvarchar](100) NOT NULL,
	[Position] [nvarchar](100) NULL,
	[HireDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FinancialForecasting]    Script Date: 11/29/2025 12:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinancialForecasting](
	[ForecastId] [int] IDENTITY(1,1) NOT NULL,
	[ForecastName] [nvarchar](100) NOT NULL,
	[ForecastType] [nvarchar](50) NOT NULL,
	[PeriodStart] [date] NOT NULL,
	[PeriodEnd] [date] NOT NULL,
	[ProjectedAmount] [decimal](18, 2) NOT NULL,
	[ActualAmount] [decimal](18, 2) NOT NULL,
	[Variance] [decimal](5, 2) NOT NULL,
	[Assumptions] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ForecastId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FinancialStatements]    Script Date: 11/29/2025 12:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinancialStatements](
	[StatementId] [int] IDENTITY(1,1) NOT NULL,
	[StatementType] [nvarchar](50) NOT NULL,
	[PeriodStart] [date] NOT NULL,
	[PeriodEnd] [date] NOT NULL,
	[StatementData] [nvarchar](max) NULL,
	[GeneratedAt] [datetime] NOT NULL,
	[GeneratedBy] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StatementId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FundTransfers]    Script Date: 11/29/2025 12:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FundTransfers](
	[TransferId] [int] IDENTITY(1,1) NOT NULL,
	[TransferNumber] [nvarchar](50) NOT NULL,
	[FromAccountId] [int] NOT NULL,
	[ToAccountId] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Fee] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ProcessedAt] [datetime] NULL,
	[ProcessedBy] [nvarchar](50) NULL,
	[ApprovedBy] [nvarchar](50) NULL,
	[ApprovedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TransferId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TransferNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GeneralLedger]    Script Date: 11/29/2025 12:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GeneralLedger](
	[LedgerId] [int] IDENTITY(1,1) NOT NULL,
	[AccountCode] [nvarchar](50) NOT NULL,
	[AccountName] [nvarchar](100) NOT NULL,
	[AccountType] [nvarchar](50) NOT NULL,
	[ParentAccountCode] [nvarchar](50) NULL,
	[Balance] [decimal](18, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LedgerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GeneralLedgerTransactions]    Script Date: 11/29/2025 12:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GeneralLedgerTransactions](
	[GLTransactionId] [int] IDENTITY(1,1) NOT NULL,
	[JournalLineId] [int] NOT NULL,
	[AccountCode] [nvarchar](50) NOT NULL,
	[TransactionDate] [date] NOT NULL,
	[Description] [nvarchar](500) NULL,
	[DebitAmount] [decimal](18, 2) NOT NULL,
	[CreditAmount] [decimal](18, 2) NOT NULL,
	[RunningBalance] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GLTransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 11/29/2025 12:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[InvoiceId] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceNumber] [nvarchar](50) NOT NULL,
	[InvoiceType] [nvarchar](50) NOT NULL,
	[AccountId] [int] NOT NULL,
	[TransactionId] [int] NOT NULL,
	[CustomerName] [nvarchar](100) NOT NULL,
	[AccountNumber] [nvarchar](50) NOT NULL,
	[BalanceBefore] [decimal](18, 2) NOT NULL,
	[TransactionAmount] [decimal](18, 2) NOT NULL,
	[BalanceAfter] [decimal](18, 2) NOT NULL,
	[TransactionMethod] [nvarchar](50) NOT NULL,
	[Reference] [nvarchar](100) NULL,
	[Notes] [nvarchar](500) NULL,
	[ProcessedBy] [nvarchar](100) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[PrintedAt] [datetime] NULL,
	[DownloadedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[InvoiceNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JournalEntries]    Script Date: 11/29/2025 12:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JournalEntries](
	[JournalId] [int] IDENTITY(1,1) NOT NULL,
	[JournalNumber] [nvarchar](50) NOT NULL,
	[TransactionDate] [date] NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[Reference] [nvarchar](100) NULL,
	[TotalDebit] [decimal](18, 2) NOT NULL,
	[TotalCredit] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
	[PostedAt] [datetime] NULL,
	[PostedBy] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[JournalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[JournalNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JournalEntryLines]    Script Date: 11/29/2025 12:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JournalEntryLines](
	[LineId] [int] IDENTITY(1,1) NOT NULL,
	[JournalId] [int] NOT NULL,
	[AccountCode] [nvarchar](50) NOT NULL,
	[AccountName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[DebitAmount] [decimal](18, 2) NOT NULL,
	[CreditAmount] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoanApplications]    Script Date: 11/29/2025 12:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoanApplications](
	[ApplicationId] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationNumber] [nvarchar](50) NOT NULL,
	[AccountId] [int] NOT NULL,
	[LoanType] [nvarchar](50) NOT NULL,
	[RequestedAmount] [decimal](18, 2) NOT NULL,
	[Purpose] [nvarchar](500) NULL,
	[EmploymentStatus] [nvarchar](50) NULL,
	[MonthlyIncome] [decimal](18, 2) NULL,
	[ExistingLoans] [int] NULL,
	[Documents] [nvarchar](max) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[ApplicationDate] [datetime] NOT NULL,
	[SubmittedBy] [nvarchar](50) NOT NULL,
	[RejectionReason] [nvarchar](500) NULL,
	[RejectedAt] [datetime] NULL,
	[RejectedBy] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ApplicationNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoanApprovals]    Script Date: 11/29/2025 12:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoanApprovals](
	[ApprovalId] [int] IDENTITY(1,1) NOT NULL,
	[AssessmentId] [int] NOT NULL,
	[ApplicationId] [int] NOT NULL,
	[AccountId] [int] NOT NULL,
	[ApprovalStatus] [nvarchar](50) NOT NULL,
	[ApprovalDate] [datetime] NOT NULL,
	[ApprovedBy] [nvarchar](50) NOT NULL,
	[ApprovedAmount] [decimal](18, 2) NULL,
	[ApprovedInterestRate] [decimal](5, 2) NULL,
	[ApprovedTermMonths] [int] NULL,
	[SpecialConditions] [nvarchar](500) NULL,
	[DeclinationReason] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ApprovalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoanAssessments]    Script Date: 11/29/2025 12:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoanAssessments](
	[AssessmentId] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationId] [int] NOT NULL,
	[AccountId] [int] NOT NULL,
	[LoanAmount] [decimal](18, 2) NOT NULL,
	[InterestRate] [decimal](5, 2) NOT NULL,
	[TermMonths] [int] NOT NULL,
	[ComputedMonthlyPayment] [decimal](18, 2) NOT NULL,
	[TotalPayable] [decimal](18, 2) NOT NULL,
	[AssessmentDate] [datetime] NOT NULL,
	[AssessmentStatus] [nvarchar](50) NOT NULL,
	[AssessedBy] [nvarchar](50) NOT NULL,
	[Remarks] [nvarchar](500) NULL,
	[RejectionReason] [nvarchar](500) NULL,
	[RejectedAt] [datetime] NULL,
	[RejectedBy] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[AssessmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoanDisbursals]    Script Date: 11/29/2025 12:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoanDisbursals](
	[DisbursalId] [int] IDENTITY(1,1) NOT NULL,
	[LoanId] [int] NOT NULL,
	[ApprovalId] [int] NOT NULL,
	[DisbursalAmount] [decimal](18, 2) NOT NULL,
	[DisbursalDate] [datetime] NOT NULL,
	[DisbursalStatus] [nvarchar](50) NOT NULL,
	[DisbursedTo] [nvarchar](50) NOT NULL,
	[ProcessedBy] [nvarchar](50) NOT NULL,
	[Reference] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[DisbursalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoanInvoices]    Script Date: 11/29/2025 12:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoanInvoices](
	[InvoiceId] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceNumber] [nvarchar](50) NOT NULL,
	[InvoiceType] [nvarchar](50) NOT NULL,
	[LoanId] [int] NULL,
	[PaymentId] [int] NULL,
	[DisbursalId] [int] NULL,
	[AccountId] [int] NOT NULL,
	[CustomerName] [nvarchar](200) NOT NULL,
	[AccountNumber] [nvarchar](100) NULL,
	[PrincipalAmount] [decimal](18, 2) NOT NULL,
	[InterestAmount] [decimal](18, 2) NOT NULL,
	[PenaltyAmount] [decimal](18, 2) NOT NULL,
	[FeesAmount] [decimal](18, 2) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[Reference] [nvarchar](100) NULL,
	[BalanceBefore] [decimal](18, 2) NULL,
	[BalanceAfter] [decimal](18, 2) NULL,
	[ProcessedBy] [nvarchar](100) NOT NULL,
	[InvoiceDate] [datetime] NOT NULL,
	[Notes] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoanManagement]    Script Date: 11/29/2025 12:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoanManagement](
	[LoanMgmtId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerLoanId] [int] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[ApprovalStatus] [nvarchar](50) NOT NULL,
	[ApprovedBy] [nvarchar](50) NULL,
	[ApprovedAt] [datetime] NULL,
	[RejectionReason] [nvarchar](500) NULL,
	[ProcessingNotes] [nvarchar](1000) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CurrentStage] [nvarchar](50) NULL,
	[DisbursalStatus] [nvarchar](50) NULL,
	[PaymentStatus] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[LoanMgmtId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoanPayments]    Script Date: 11/29/2025 12:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoanPayments](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[ScheduleId] [int] NOT NULL,
	[LoanId] [int] NOT NULL,
	[PaymentAmount] [decimal](18, 2) NOT NULL,
	[PenaltyPaid] [decimal](18, 2) NULL,
	[PaymentDate] [datetime] NOT NULL,
	[PaymentMethod] [nvarchar](50) NOT NULL,
	[Reference] [nvarchar](100) NULL,
	[ProcessedBy] [nvarchar](50) NOT NULL,
	[IsLatePayment] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoanPaymentSchedules]    Script Date: 11/29/2025 12:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoanPaymentSchedules](
	[ScheduleId] [int] IDENTITY(1,1) NOT NULL,
	[LoanId] [int] NOT NULL,
	[PaymentNumber] [int] NOT NULL,
	[DueDate] [date] NOT NULL,
	[MinimumPayment] [decimal](18, 2) NOT NULL,
	[PrincipalAmount] [decimal](18, 2) NOT NULL,
	[InterestAmount] [decimal](18, 2) NOT NULL,
	[PaymentStatus] [nvarchar](50) NOT NULL,
	[DaysOverdue] [int] NULL,
	[Penalty] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ScheduleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoanTransactionHistory]    Script Date: 11/29/2025 12:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoanTransactionHistory](
	[HistoryId] [int] IDENTITY(1,1) NOT NULL,
	[LoanId] [int] NULL,
	[ApplicationId] [int] NULL,
	[ApprovalId] [int] NULL,
	[AccountId] [int] NOT NULL,
	[TransactionType] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[PenaltyAmount] [decimal](18, 2) NULL,
	[BalanceBefore] [decimal](18, 2) NULL,
	[BalanceAfter] [decimal](18, 2) NULL,
	[Reference] [nvarchar](100) NULL,
	[ProcessedBy] [nvarchar](100) NOT NULL,
	[TransactionDate] [datetime] NOT NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoanViolations]    Script Date: 11/29/2025 12:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoanViolations](
	[ViolationId] [int] IDENTITY(1,1) NOT NULL,
	[LoanId] [int] NOT NULL,
	[ScheduleId] [int] NOT NULL,
	[ViolationType] [nvarchar](50) NOT NULL,
	[DaysOverdue] [int] NOT NULL,
	[PenaltyRate] [decimal](5, 2) NOT NULL,
	[PenaltyAmount] [decimal](18, 2) NOT NULL,
	[OutstandingBalance] [decimal](18, 2) NOT NULL,
	[ViolationDate] [datetime] NOT NULL,
	[ResolvedAt] [datetime] NULL,
	[IsResolved] [bit] NULL,
	[Remarks] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ViolationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoginHistory]    Script Date: 11/29/2025 12:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginHistory](
	[LoginId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[LoginTime] [datetime] NOT NULL,
	[LogoutTime] [datetime] NULL,
	[IpAddress] [nvarchar](50) NULL,
	[UserAgent] [nvarchar](255) NULL,
	[LoginStatus] [nvarchar](20) NOT NULL,
	[FailureReason] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[LoginId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePermissions]    Script Date: 11/29/2025 12:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermissions](
	[PermissionId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[ModuleName] [nvarchar](100) NOT NULL,
	[Permission] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seeders]    Script Date: 11/29/2025 12:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seeders](
	[SeedID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SeedID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuperAdminEmployees]    Script Date: 11/29/2025 12:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuperAdminEmployees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[EmployeeNumber] [nvarchar](50) NOT NULL,
	[Department] [nvarchar](100) NOT NULL,
	[Position] [nvarchar](100) NOT NULL,
	[DateOfBirth] [date] NULL,
	[HireDate] [date] NOT NULL,
	[Address] [nvarchar](500) NULL,
	[City] [nvarchar](100) NULL,
	[State] [nvarchar](100) NULL,
	[ZipCode] [nvarchar](20) NULL,
	[DateModified] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EmployeeNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemReports]    Script Date: 11/29/2025 12:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemReports](
	[ReportId] [int] IDENTITY(1,1) NOT NULL,
	[ReportType] [nvarchar](50) NOT NULL,
	[ReportName] [nvarchar](100) NOT NULL,
	[ReportData] [nvarchar](max) NULL,
	[Parameters] [nvarchar](max) NULL,
	[GeneratedAt] [datetime] NOT NULL,
	[GeneratedBy] [nvarchar](50) NOT NULL,
	[AccessedCount] [int] NOT NULL,
	[LastAccessedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemSettings]    Script Date: 11/29/2025 12:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemSettings](
	[SettingId] [int] IDENTITY(1,1) NOT NULL,
	[SettingKey] [nvarchar](100) NOT NULL,
	[SettingValue] [nvarchar](1000) NULL,
	[Description] [nvarchar](500) NULL,
	[Category] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[LastModifiedAt] [datetime] NOT NULL,
	[LastModifiedBy] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SettingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SettingKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrialBalance]    Script Date: 11/29/2025 12:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrialBalance](
	[TrialBalanceId] [int] IDENTITY(1,1) NOT NULL,
	[PeriodStart] [date] NOT NULL,
	[PeriodEnd] [date] NOT NULL,
	[AccountCode] [nvarchar](50) NOT NULL,
	[AccountName] [nvarchar](100) NOT NULL,
	[DebitBalance] [decimal](18, 2) NOT NULL,
	[CreditBalance] [decimal](18, 2) NOT NULL,
	[GeneratedAt] [datetime] NOT NULL,
	[GeneratedBy] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TrialBalanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRegistrations]    Script Date: 11/29/2025 12:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRegistrations](
	[RegistrationId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[Department] [nvarchar](50) NULL,
	[EmployeeId] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RegistrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/29/2025 12:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[LastLoginAt] [datetime] NULL,
	[EmployeeId_FK] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserSessions]    Script Date: 11/29/2025 12:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSessions](
	[SessionId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[SessionToken] [nvarchar](255) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ExpiresAt] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IpAddress] [nvarchar](50) NULL,
	[UserAgent] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[SessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SessionToken] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AccountingEntries] ADD  DEFAULT ((0)) FOR [DebitAmount]
GO
ALTER TABLE [dbo].[AccountingEntries] ADD  DEFAULT ((0)) FOR [CreditAmount]
GO
ALTER TABLE [dbo].[AccountingEntries] ADD  DEFAULT ((0)) FOR [Balance]
GO
ALTER TABLE [dbo].[AccountingEntries] ADD  DEFAULT ('') FOR [Reference]
GO
ALTER TABLE [dbo].[AccountingEntries] ADD  DEFAULT ('') FOR [Description]
GO
ALTER TABLE [dbo].[AccountingEntries] ADD  DEFAULT ('') FOR [ProcessedBy]
GO
ALTER TABLE [dbo].[AccountingEntries] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AccountsPayable] ADD  DEFAULT ((0)) FOR [PaidAmount]
GO
ALTER TABLE [dbo].[AccountsPayable] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[AccountsPayable] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AccountsReceivable] ADD  DEFAULT ((0)) FOR [ReceivedAmount]
GO
ALTER TABLE [dbo].[AccountsReceivable] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[AccountsReceivable] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ApprovalQueue] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[ApprovalQueue] ADD  DEFAULT ('Medium') FOR [Priority]
GO
ALTER TABLE [dbo].[ApprovalQueue] ADD  DEFAULT (getdate()) FOR [RequestedAt]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  DEFAULT ((0)) FOR [Amount]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  DEFAULT ((0)) FOR [BalanceBefore]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  DEFAULT ((0)) FOR [BalanceAfter]
GO
ALTER TABLE [dbo].[BankAccounts] ADD  DEFAULT ((0)) FOR [Balance]
GO
ALTER TABLE [dbo].[BankAccounts] ADD  DEFAULT ('PHP') FOR [Currency]
GO
ALTER TABLE [dbo].[BankAccounts] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[BankAccounts] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BankingReports] ADD  DEFAULT (getdate()) FOR [GeneratedAt]
GO
ALTER TABLE [dbo].[BillersManagement] ADD  DEFAULT ((0)) FOR [ProcessingFee]
GO
ALTER TABLE [dbo].[BillersManagement] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[BillersManagement] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BudgetManagement] ADD  DEFAULT ((0)) FOR [SpentAmount]
GO
ALTER TABLE [dbo].[BudgetManagement] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[BudgetManagement] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CardManagement] ADD  DEFAULT (getdate()) FOR [ActionAt]
GO
ALTER TABLE [dbo].[CashflowAnalysis] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ChartOfAccounts] ADD  DEFAULT ((1)) FOR [Level]
GO
ALTER TABLE [dbo].[ChartOfAccounts] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ChartOfAccounts] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CustomerAccounts] ADD  DEFAULT ((0)) FOR [Balance]
GO
ALTER TABLE [dbo].[CustomerAccounts] ADD  DEFAULT ((0)) FOR [AvailableBalance]
GO
ALTER TABLE [dbo].[CustomerAccounts] ADD  DEFAULT ('PHP') FOR [Currency]
GO
ALTER TABLE [dbo].[CustomerAccounts] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CustomerAccounts] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CustomerAccounts] ADD  DEFAULT ('ACTIVE') FOR [Status]
GO
ALTER TABLE [dbo].[CustomerCards] ADD  DEFAULT ((0)) FOR [CreditLimit]
GO
ALTER TABLE [dbo].[CustomerCards] ADD  DEFAULT ((0)) FOR [AvailableCredit]
GO
ALTER TABLE [dbo].[CustomerCards] ADD  DEFAULT ((0)) FOR [OutstandingBalance]
GO
ALTER TABLE [dbo].[CustomerCards] ADD  DEFAULT ((0)) FOR [InterestRate]
GO
ALTER TABLE [dbo].[CustomerCards] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CustomerCards] ADD  DEFAULT ((0)) FOR [IsLocked]
GO
ALTER TABLE [dbo].[CustomerCards] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CustomerLoans] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[CustomerLoans] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CustomerLoans] ADD  DEFAULT ((0)) FOR [CumulativeLateDays]
GO
ALTER TABLE [dbo].[CustomerLoans] ADD  DEFAULT ((0)) FOR [TotalPenalties]
GO
ALTER TABLE [dbo].[CustomerLoans] ADD  DEFAULT ((0)) FOR [IsBlacklisted]
GO
ALTER TABLE [dbo].[CustomerRewardPoints] ADD  DEFAULT ((0)) FOR [Points]
GO
ALTER TABLE [dbo].[CustomerRewardPoints] ADD  DEFAULT ((0)) FOR [CashbackAmount]
GO
ALTER TABLE [dbo].[CustomerRewardPoints] ADD  DEFAULT (getdate()) FOR [EarnedAt]
GO
ALTER TABLE [dbo].[CustomerRewardPoints] ADD  DEFAULT ((0)) FOR [IsRedeemed]
GO
ALTER TABLE [dbo].[CustomerSavingsGoals] ADD  DEFAULT ((0)) FOR [CurrentAmount]
GO
ALTER TABLE [dbo].[CustomerSavingsGoals] ADD  DEFAULT (getdate()) FOR [StartDate]
GO
ALTER TABLE [dbo].[CustomerSavingsGoals] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[CustomerSavingsGoals] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CustomerTransactions] ADD  DEFAULT ((0)) FOR [Fee]
GO
ALTER TABLE [dbo].[CustomerTransactions] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[CustomerTransactions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[EmployeeAccounts] ADD  DEFAULT (CONVERT([date],getutcdate())) FOR [HireDate]
GO
ALTER TABLE [dbo].[EmployeeAccounts] ADD  DEFAULT ('Active') FOR [EmploymentStatus]
GO
ALTER TABLE [dbo].[EmployeeAccounts] ADD  DEFAULT (getutcdate()) FOR [DateModified]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (getdate()) FOR [HireDate]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[FinancialForecasting] ADD  DEFAULT ((0)) FOR [ActualAmount]
GO
ALTER TABLE [dbo].[FinancialForecasting] ADD  DEFAULT ((0)) FOR [Variance]
GO
ALTER TABLE [dbo].[FinancialForecasting] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[FinancialStatements] ADD  DEFAULT (getdate()) FOR [GeneratedAt]
GO
ALTER TABLE [dbo].[FundTransfers] ADD  DEFAULT ((0)) FOR [Fee]
GO
ALTER TABLE [dbo].[FundTransfers] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[FundTransfers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[GeneralLedger] ADD  DEFAULT ((0)) FOR [Balance]
GO
ALTER TABLE [dbo].[GeneralLedger] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[GeneralLedger] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[GeneralLedgerTransactions] ADD  DEFAULT ((0)) FOR [DebitAmount]
GO
ALTER TABLE [dbo].[GeneralLedgerTransactions] ADD  DEFAULT ((0)) FOR [CreditAmount]
GO
ALTER TABLE [dbo].[GeneralLedgerTransactions] ADD  DEFAULT ((0)) FOR [RunningBalance]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ('Completed') FOR [Status]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[JournalEntries] ADD  DEFAULT ((0)) FOR [TotalDebit]
GO
ALTER TABLE [dbo].[JournalEntries] ADD  DEFAULT ((0)) FOR [TotalCredit]
GO
ALTER TABLE [dbo].[JournalEntries] ADD  DEFAULT ('Draft') FOR [Status]
GO
ALTER TABLE [dbo].[JournalEntries] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[JournalEntryLines] ADD  DEFAULT ((0)) FOR [DebitAmount]
GO
ALTER TABLE [dbo].[JournalEntryLines] ADD  DEFAULT ((0)) FOR [CreditAmount]
GO
ALTER TABLE [dbo].[LoanApplications] ADD  DEFAULT ((0)) FOR [ExistingLoans]
GO
ALTER TABLE [dbo].[LoanApplications] ADD  DEFAULT ('SUBMITTED') FOR [Status]
GO
ALTER TABLE [dbo].[LoanApplications] ADD  DEFAULT (getdate()) FOR [ApplicationDate]
GO
ALTER TABLE [dbo].[LoanApprovals] ADD  DEFAULT (getdate()) FOR [ApprovalDate]
GO
ALTER TABLE [dbo].[LoanAssessments] ADD  DEFAULT (getdate()) FOR [AssessmentDate]
GO
ALTER TABLE [dbo].[LoanAssessments] ADD  DEFAULT ('ASSESSED') FOR [AssessmentStatus]
GO
ALTER TABLE [dbo].[LoanDisbursals] ADD  DEFAULT (getdate()) FOR [DisbursalDate]
GO
ALTER TABLE [dbo].[LoanDisbursals] ADD  DEFAULT ('RELEASED') FOR [DisbursalStatus]
GO
ALTER TABLE [dbo].[LoanInvoices] ADD  DEFAULT ((0)) FOR [PrincipalAmount]
GO
ALTER TABLE [dbo].[LoanInvoices] ADD  DEFAULT ((0)) FOR [InterestAmount]
GO
ALTER TABLE [dbo].[LoanInvoices] ADD  DEFAULT ((0)) FOR [PenaltyAmount]
GO
ALTER TABLE [dbo].[LoanInvoices] ADD  DEFAULT ((0)) FOR [FeesAmount]
GO
ALTER TABLE [dbo].[LoanInvoices] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[LoanInvoices] ADD  DEFAULT (getdate()) FOR [InvoiceDate]
GO
ALTER TABLE [dbo].[LoanManagement] ADD  DEFAULT ('Pending') FOR [ApprovalStatus]
GO
ALTER TABLE [dbo].[LoanManagement] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[LoanManagement] ADD  DEFAULT ('APPLICATION') FOR [CurrentStage]
GO
ALTER TABLE [dbo].[LoanManagement] ADD  DEFAULT ('PENDING') FOR [DisbursalStatus]
GO
ALTER TABLE [dbo].[LoanManagement] ADD  DEFAULT ('ACTIVE') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[LoanPayments] ADD  DEFAULT ((0)) FOR [PenaltyPaid]
GO
ALTER TABLE [dbo].[LoanPayments] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[LoanPayments] ADD  DEFAULT ((0)) FOR [IsLatePayment]
GO
ALTER TABLE [dbo].[LoanPaymentSchedules] ADD  DEFAULT ('PENDING') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[LoanPaymentSchedules] ADD  DEFAULT ((0)) FOR [DaysOverdue]
GO
ALTER TABLE [dbo].[LoanPaymentSchedules] ADD  DEFAULT ((0)) FOR [Penalty]
GO
ALTER TABLE [dbo].[LoanTransactionHistory] ADD  DEFAULT ((0)) FOR [Amount]
GO
ALTER TABLE [dbo].[LoanTransactionHistory] ADD  DEFAULT (getdate()) FOR [TransactionDate]
GO
ALTER TABLE [dbo].[LoanViolations] ADD  DEFAULT (getdate()) FOR [ViolationDate]
GO
ALTER TABLE [dbo].[LoanViolations] ADD  DEFAULT ((0)) FOR [IsResolved]
GO
ALTER TABLE [dbo].[LoginHistory] ADD  DEFAULT (getdate()) FOR [LoginTime]
GO
ALTER TABLE [dbo].[LoginHistory] ADD  DEFAULT ('Success') FOR [LoginStatus]
GO
ALTER TABLE [dbo].[RolePermissions] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Seeders] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SuperAdminEmployees] ADD  DEFAULT (CONVERT([date],getutcdate())) FOR [HireDate]
GO
ALTER TABLE [dbo].[SuperAdminEmployees] ADD  DEFAULT (getutcdate()) FOR [DateModified]
GO
ALTER TABLE [dbo].[SystemReports] ADD  DEFAULT (getdate()) FOR [GeneratedAt]
GO
ALTER TABLE [dbo].[SystemReports] ADD  DEFAULT ((0)) FOR [AccessedCount]
GO
ALTER TABLE [dbo].[SystemSettings] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SystemSettings] ADD  DEFAULT (getdate()) FOR [LastModifiedAt]
GO
ALTER TABLE [dbo].[TrialBalance] ADD  DEFAULT ((0)) FOR [DebitBalance]
GO
ALTER TABLE [dbo].[TrialBalance] ADD  DEFAULT ((0)) FOR [CreditBalance]
GO
ALTER TABLE [dbo].[TrialBalance] ADD  DEFAULT (getdate()) FOR [GeneratedAt]
GO
ALTER TABLE [dbo].[UserRegistrations] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[UserRegistrations] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserSessions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserSessions] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AccountingEntries]  WITH CHECK ADD  CONSTRAINT [FK_AccountingEntries_CustomerAccounts] FOREIGN KEY([AccountId])
REFERENCES [dbo].[CustomerAccounts] ([AccountId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[AccountingEntries] CHECK CONSTRAINT [FK_AccountingEntries_CustomerAccounts]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [FK_AuditLogs_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[AuditLogs] CHECK CONSTRAINT [FK_AuditLogs_Users]
GO
ALTER TABLE [dbo].[CardManagement]  WITH CHECK ADD  CONSTRAINT [FK_CardManagement_CustomerCards] FOREIGN KEY([CustomerCardId])
REFERENCES [dbo].[CustomerCards] ([CardId])
GO
ALTER TABLE [dbo].[CardManagement] CHECK CONSTRAINT [FK_CardManagement_CustomerCards]
GO
ALTER TABLE [dbo].[CustomerAccounts]  WITH CHECK ADD  CONSTRAINT [FK_CustomerAccounts_Users] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[CustomerAccounts] CHECK CONSTRAINT [FK_CustomerAccounts_Users]
GO
ALTER TABLE [dbo].[CustomerCards]  WITH CHECK ADD  CONSTRAINT [FK_CustomerCards_Accounts] FOREIGN KEY([AccountId])
REFERENCES [dbo].[CustomerAccounts] ([AccountId])
GO
ALTER TABLE [dbo].[CustomerCards] CHECK CONSTRAINT [FK_CustomerCards_Accounts]
GO
ALTER TABLE [dbo].[CustomerLoans]  WITH CHECK ADD  CONSTRAINT [FK_CustomerLoans_Accounts] FOREIGN KEY([AccountId])
REFERENCES [dbo].[CustomerAccounts] ([AccountId])
GO
ALTER TABLE [dbo].[CustomerLoans] CHECK CONSTRAINT [FK_CustomerLoans_Accounts]
GO
ALTER TABLE [dbo].[CustomerRewardPoints]  WITH CHECK ADD  CONSTRAINT [FK_CustomerRewardPoints_Accounts] FOREIGN KEY([AccountId])
REFERENCES [dbo].[CustomerAccounts] ([AccountId])
GO
ALTER TABLE [dbo].[CustomerRewardPoints] CHECK CONSTRAINT [FK_CustomerRewardPoints_Accounts]
GO
ALTER TABLE [dbo].[CustomerSavingsGoals]  WITH CHECK ADD  CONSTRAINT [FK_CustomerSavingsGoals_Accounts] FOREIGN KEY([AccountId])
REFERENCES [dbo].[CustomerAccounts] ([AccountId])
GO
ALTER TABLE [dbo].[CustomerSavingsGoals] CHECK CONSTRAINT [FK_CustomerSavingsGoals_Accounts]
GO
ALTER TABLE [dbo].[CustomerTransactions]  WITH CHECK ADD  CONSTRAINT [FK_CustomerTransactions_Accounts] FOREIGN KEY([AccountId])
REFERENCES [dbo].[CustomerAccounts] ([AccountId])
GO
ALTER TABLE [dbo].[CustomerTransactions] CHECK CONSTRAINT [FK_CustomerTransactions_Accounts]
GO
ALTER TABLE [dbo].[CustomerTransactions]  WITH CHECK ADD  CONSTRAINT [FK_CustomerTransactions_ToAccounts] FOREIGN KEY([ToAccountId])
REFERENCES [dbo].[CustomerAccounts] ([AccountId])
GO
ALTER TABLE [dbo].[CustomerTransactions] CHECK CONSTRAINT [FK_CustomerTransactions_ToAccounts]
GO
ALTER TABLE [dbo].[EmployeeAccounts]  WITH CHECK ADD FOREIGN KEY([DirectSupervisorID])
REFERENCES [dbo].[EmployeeAccounts] ([EmployeeID])
GO
ALTER TABLE [dbo].[EmployeeAccounts]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Users]
GO
ALTER TABLE [dbo].[FundTransfers]  WITH CHECK ADD  CONSTRAINT [FK_FundTransfers_FromAccount] FOREIGN KEY([FromAccountId])
REFERENCES [dbo].[BankAccounts] ([BankAccountId])
GO
ALTER TABLE [dbo].[FundTransfers] CHECK CONSTRAINT [FK_FundTransfers_FromAccount]
GO
ALTER TABLE [dbo].[FundTransfers]  WITH CHECK ADD  CONSTRAINT [FK_FundTransfers_ToAccount] FOREIGN KEY([ToAccountId])
REFERENCES [dbo].[BankAccounts] ([BankAccountId])
GO
ALTER TABLE [dbo].[FundTransfers] CHECK CONSTRAINT [FK_FundTransfers_ToAccount]
GO
ALTER TABLE [dbo].[GeneralLedgerTransactions]  WITH CHECK ADD  CONSTRAINT [FK_GLTransactions_JournalLines] FOREIGN KEY([JournalLineId])
REFERENCES [dbo].[JournalEntryLines] ([LineId])
GO
ALTER TABLE [dbo].[GeneralLedgerTransactions] CHECK CONSTRAINT [FK_GLTransactions_JournalLines]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_CustomerAccounts] FOREIGN KEY([AccountId])
REFERENCES [dbo].[CustomerAccounts] ([AccountId])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_CustomerAccounts]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_CustomerTransactions] FOREIGN KEY([TransactionId])
REFERENCES [dbo].[CustomerTransactions] ([TransactionId])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_CustomerTransactions]
GO
ALTER TABLE [dbo].[JournalEntryLines]  WITH CHECK ADD  CONSTRAINT [FK_JournalEntryLines_Journal] FOREIGN KEY([JournalId])
REFERENCES [dbo].[JournalEntries] ([JournalId])
GO
ALTER TABLE [dbo].[JournalEntryLines] CHECK CONSTRAINT [FK_JournalEntryLines_Journal]
GO
ALTER TABLE [dbo].[LoanApplications]  WITH CHECK ADD FOREIGN KEY([AccountId])
REFERENCES [dbo].[CustomerAccounts] ([AccountId])
GO
ALTER TABLE [dbo].[LoanApprovals]  WITH CHECK ADD FOREIGN KEY([AccountId])
REFERENCES [dbo].[CustomerAccounts] ([AccountId])
GO
ALTER TABLE [dbo].[LoanApprovals]  WITH CHECK ADD FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[LoanApplications] ([ApplicationId])
GO
ALTER TABLE [dbo].[LoanApprovals]  WITH CHECK ADD FOREIGN KEY([AssessmentId])
REFERENCES [dbo].[LoanAssessments] ([AssessmentId])
GO
ALTER TABLE [dbo].[LoanAssessments]  WITH CHECK ADD FOREIGN KEY([AccountId])
REFERENCES [dbo].[CustomerAccounts] ([AccountId])
GO
ALTER TABLE [dbo].[LoanAssessments]  WITH CHECK ADD FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[LoanApplications] ([ApplicationId])
GO
ALTER TABLE [dbo].[LoanDisbursals]  WITH CHECK ADD FOREIGN KEY([ApprovalId])
REFERENCES [dbo].[LoanApprovals] ([ApprovalId])
GO
ALTER TABLE [dbo].[LoanDisbursals]  WITH CHECK ADD FOREIGN KEY([LoanId])
REFERENCES [dbo].[CustomerLoans] ([LoanId])
GO
ALTER TABLE [dbo].[LoanInvoices]  WITH CHECK ADD  CONSTRAINT [FK_LoanInvoices_Account] FOREIGN KEY([AccountId])
REFERENCES [dbo].[CustomerAccounts] ([AccountId])
GO
ALTER TABLE [dbo].[LoanInvoices] CHECK CONSTRAINT [FK_LoanInvoices_Account]
GO
ALTER TABLE [dbo].[LoanInvoices]  WITH CHECK ADD  CONSTRAINT [FK_LoanInvoices_Loan] FOREIGN KEY([LoanId])
REFERENCES [dbo].[CustomerLoans] ([LoanId])
GO
ALTER TABLE [dbo].[LoanInvoices] CHECK CONSTRAINT [FK_LoanInvoices_Loan]
GO
ALTER TABLE [dbo].[LoanManagement]  WITH CHECK ADD  CONSTRAINT [FK_LoanManagement_CustomerLoans] FOREIGN KEY([CustomerLoanId])
REFERENCES [dbo].[CustomerLoans] ([LoanId])
GO
ALTER TABLE [dbo].[LoanManagement] CHECK CONSTRAINT [FK_LoanManagement_CustomerLoans]
GO
ALTER TABLE [dbo].[LoanPayments]  WITH CHECK ADD FOREIGN KEY([LoanId])
REFERENCES [dbo].[CustomerLoans] ([LoanId])
GO
ALTER TABLE [dbo].[LoanPayments]  WITH CHECK ADD FOREIGN KEY([ScheduleId])
REFERENCES [dbo].[LoanPaymentSchedules] ([ScheduleId])
GO
ALTER TABLE [dbo].[LoanPaymentSchedules]  WITH CHECK ADD FOREIGN KEY([LoanId])
REFERENCES [dbo].[CustomerLoans] ([LoanId])
GO
ALTER TABLE [dbo].[LoanTransactionHistory]  WITH CHECK ADD  CONSTRAINT [FK_LoanTransactionHistory_Account] FOREIGN KEY([AccountId])
REFERENCES [dbo].[CustomerAccounts] ([AccountId])
GO
ALTER TABLE [dbo].[LoanTransactionHistory] CHECK CONSTRAINT [FK_LoanTransactionHistory_Account]
GO
ALTER TABLE [dbo].[LoanTransactionHistory]  WITH CHECK ADD  CONSTRAINT [FK_LoanTransactionHistory_Application] FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[LoanApplications] ([ApplicationId])
GO
ALTER TABLE [dbo].[LoanTransactionHistory] CHECK CONSTRAINT [FK_LoanTransactionHistory_Application]
GO
ALTER TABLE [dbo].[LoanTransactionHistory]  WITH CHECK ADD  CONSTRAINT [FK_LoanTransactionHistory_Loan] FOREIGN KEY([LoanId])
REFERENCES [dbo].[CustomerLoans] ([LoanId])
GO
ALTER TABLE [dbo].[LoanTransactionHistory] CHECK CONSTRAINT [FK_LoanTransactionHistory_Loan]
GO
ALTER TABLE [dbo].[LoanViolations]  WITH CHECK ADD FOREIGN KEY([LoanId])
REFERENCES [dbo].[CustomerLoans] ([LoanId])
GO
ALTER TABLE [dbo].[LoanViolations]  WITH CHECK ADD FOREIGN KEY([ScheduleId])
REFERENCES [dbo].[LoanPaymentSchedules] ([ScheduleId])
GO
ALTER TABLE [dbo].[LoginHistory]  WITH CHECK ADD  CONSTRAINT [FK_LoginHistory_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LoginHistory] CHECK CONSTRAINT [FK_LoginHistory_Users]
GO
ALTER TABLE [dbo].[Seeders]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SuperAdminEmployees]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserSessions]  WITH CHECK ADD  CONSTRAINT [FK_UserSessions_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserSessions] CHECK CONSTRAINT [FK_UserSessions_Users]
GO
ALTER TABLE [dbo].[EmployeeAccounts]  WITH CHECK ADD CHECK  (([EmploymentStatus]='Inactive' OR [EmploymentStatus]='Suspended' OR [EmploymentStatus]='OnLeave' OR [EmploymentStatus]='Active'))
GO
ALTER TABLE [dbo].[LoginHistory]  WITH CHECK ADD  CONSTRAINT [CK_LoginHistory_Status] CHECK  (([LoginStatus]='Locked' OR [LoginStatus]='Failed' OR [LoginStatus]='Success'))
GO
ALTER TABLE [dbo].[LoginHistory] CHECK CONSTRAINT [CK_LoginHistory_Status]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [CK_RolePermissions_Permission] CHECK  (([Permission]='Full' OR [Permission]='Delete' OR [Permission]='Write' OR [Permission]='Read'))
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [CK_RolePermissions_Permission]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [CK_RolePermissions_Role] CHECK  (([RoleName]='Customer' OR [RoleName]='FinanceManager' OR [RoleName]='Accountant' OR [RoleName]='SuperAdmin'))
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [CK_RolePermissions_Role]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Role] CHECK  (([Role]='Customer' OR [Role]='Teller' OR [Role]='FinanceManager' OR [Role]='Accountant' OR [Role]='SuperAdmin'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Role]
GO
